* {
    padding: 0;
    margin: 0;

}

.count {
   
    height: 300px;
    width: 300px;
    margin: 0 0 0 10px;
}

.count-2 {
    /* border: 1px solid; */
    height: 250px;
    width: 250px;
    margin: 20px 0 0 40px;
}
.count-3 {
    border: 1px solid;
    margin: 20px 0 0 40px;
    height: 650px;
    width: 550px;
}
.tit{
    border: 1px solid;
    height: 300px;
}
.gallery{
    height: 300px;
}
.gimg{
    height: 250px;
    width: 350px;
}
   
